 <h1 style="background-color:lightgreen;width: 180px;"><%=link_to "Check IN", search_path%></h1>

<div class="wrapper">
    <div id="slider">
        <%= image_tag("pic1.png" , :id => "1")%>
       <%= image_tag("pic2.png", :id => "2") %>
        <%= image_tag("pic3.png" , :id => "3")%>
    </div>

</div>
 <div id="nav">
    <a href="#left" class="left">previous</a>
    <a href="#right" class="right">next</a>
</div>


<script type="text/javascript">
	$(function () {
    var count = $("#slider > img").length
    var slider = 1
    var speed=2000
    var fadeSpeed = 500
    var loop 
    start()
    $("#1").fadeIn(fadeSpeed);
    $('.right').click(right)
    $('.left').click(left)
    $('#slider').hover(stop,start)
    
    function start(){
        loop = setInterval(next, speed)
    }
    function stop(){
        clearInterval(loop)
    }
    function right() {
        stop()
        next()
        start()
        return false
    }

    function left() {
        stop()
        prev()
        start()
        return false
    }

    function prev() {
        slider--
        if (slider < 1) {
            slider = count
        }

        $("#slider > img").fadeOut(fadeSpeed)
        $("#" + slider).fadeIn(fadeSpeed)
    }

    function next() {
        slider++
        if (slider > count) {
            slider = 1
        }

        $("#slider > img").fadeOut(fadeSpeed)
        $("#" + slider).fadeIn(fadeSpeed)
    }
});
</script>
